@import url('https://fonts.googleapis.com/css?family=Exo+2:500&display=swap&subset=cyrillic');
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}