.main {
  overflow-x: hidden;
  font-family: HelveticaNeue-Light;
}
.button-head {
  background-color: #f5f3e8;
  border: none;
  box-shadow: none;

}
.btn-img-bonf {
  background: url(/images/bonfesto.png) no-repeat #f5f3e8 50% 50%;
}
.btn-img-cook {
  background: url(/images/cooking.png) no-repeat #f5f3e8 50% 50%;
}
.btn-img-vill {
  background: url(/images/villmonte.png) no-repeat #f5f3e8 50% 50%;
}
.btn-img-bonf_mini {
  background: url(/images/bonfesto_mini.png) no-repeat 0 50%;
}

.head-group {
  span {
    color: #969189;
    text-decoration: none;
    border-bottom: 1px dashed #969189;
  }
  a:focus {
    background-color: #8fb52c;
    box-shadow: none;
  }
  button:focus {
    background-color: #8fb52c;
    box-shadow: none;
  }
}
.product-chess {
}
.list-product {
  color: #3c2f20;
  font-size: 1rem;
   button {
    padding: 0;
    box-shadow: none;
    border: none;
  }
  button:focus {
    box-shadow: none;
  }
  a {
    font-family: 'Exo 2';
    color: #3c2f20;
    text-decoration: none;
  }
  a span {
    border-bottom: 1px dashed #3c2f20;
  }
  a:hover span {
    color: #5b84f0;
    text-decoration: none;
    border-color: #5b84f0;

    span:hover {
      border-color: #5b84f0;
    }
  }
}
.title-size {
  font-family: 'Exo 2';
}
.descr-size {
  font-size: 1.5rem;
}
