.main {
  overflow-x: hidden;
  font-family: HelveticaNeue-Light;
}
.button-head {
  background-color: $grayLight;
  border: none;
  box-shadow: none;
}
.btn-img-bonf {
  background: url(/images/bonfesto.png) no-repeat $grayLight 50% 50%;
}
.btn-img-cook {
  background: url(/images/cooking.png) no-repeat $grayLight 50% 50%;
}
.btn-img-vill {
  background: url(/images/villmonte.png) no-repeat $grayLight 50% 50%;
}
.btn-img-bonf_mini {
  background: url(/images/bonfesto_mini.png) no-repeat 0 50%;
}

.head-group {
  span {
    color: $gray;
    text-decoration: none;
    border-bottom: 1px dashed $gray;
  }
  .button-line:focus {
    background-color: $green;
    box-shadow: none;
  }
}
.list-product {
  color: $brown;
  .chess-size {
    font-size: 1rem;
  }
  .product-link {
    font-family: 'Exo 2';
    color: $brown;
    text-decoration: none;
    .product-link-border {
      border-bottom: 1px dashed $brown;
    }
  }
  .product-link:hover {
    color: $blue;
    text-decoration: none;
    border-color: $blue;
    .product-link-border {
      border-color: $blue;
    }
  }
}
.title-size {
  font-family: 'Exo 2';
}
.descr-size {
  font-size: 1.5rem;
}
